<section class="mt-32 flex flex-col items-start">
  <h1 class="font-bold text-5xl uppercase">Sobre Mi 游눫</h1>
  <p class="w-3/5 pt-5 px-3">
    Me considero una persona activa y colaboradora, con ganas de aprender y
    profesionalizarme en el 치rea IT. Al mismo tiempo, tengo buena predisposici칩n
    para el trabajo en equipo y busco ampliar mi experiencia laboral en el 치rea
    para integrarme a un grupo de trabajo que me permita seguir desarrollando
    mis habilidades. Soy organizado y puedo desenvolmerme en diversas tareas al
    mismo tiempo sin afectar de manera negativa la eficiencia.
    <br />
    Personalmente, me interesa mucho el 치mbito de la programaci칩n, machine learning,
    bases de datos y desarrollo web. Constantemente estoy aprendiendo por mi cuenta
    nuevos conceptos sobre estos temas y cada vez me voy interiorizando mas. De esta
    manera, he desarrollado conocimientos en lenguajes de programacion tales como
    Python o Javascript, y en diversas herramientas de desarrollo y visualizacion
    de datos.
    <br />
    Me gusta mucho realizar proyectos perosnales que pongan a prueba mis conocimientos,
    mi logica de programacion ya que considero que es la mejor manera de aprender
    y poder resolver problemas cada vez m치s complejos.
  </p>
</section>
