---
import Experience from "@/components/Experience";

const history = [
  {
    place: "Seidor Analytics",
    comment:
      "Fue mi primer experiencia laboral en el área, donde se me permitió desarrollar diversas aptitudes. Pude conocer y aprender herramientas tales como SAP ERP, SAP BW4/HANA y SAC. Además de entrenar mis habilidades blandas como el trabajo en equipo o el trato hacia el cliente",
    trajectory: [
      {
        position: "BI Analyst",
        start: "06.2023",
        finish: "09.2023",
      },
      {
        position: "Analyst Consultant",
        start: "09.2023",
        finish: null,
      },
    ],
  },
];
---

<section class="items-center sm:items-end">
  <h1 class="title">Experiencia 🧑‍💼</h1>
  <ul
    class="w-full sm:w-3/5 pt-7 sm:pt-5 px-3 list-none list-inside flex flex-col gap-4"
  >
    {
      history.map((item, index) => (
        <Experience item={item} index={index} client:visible />
      ))
    }
  </ul>
</section>
