---
import SocialLinks from "./SocialLinks.astro";
---

<header class="w-full flex items-center justify-start gap-14">
  <img
    src="public/profile.webp"
    alt="Foto de perfil"
    class="rounded-full size-80"
  />
  <div class="flex flex-col justify-start h-full">
    <h1 class="text-8xl font-semibold mt-14">Julian Prieto</h1>
    <h2 class="text-2xl font-medium text-secondary">
      Estudiante de Lic. en Ciencia de Datos
    </h2>

    <SocialLinks />
  </div>
</header>
