---
const skills = [
  { name: "Python", items: ["Pandas", "Numpy", "Scikit-Learn", "MatPlotLib"] },
  {
    name: "Desarrollo Web",
    items: ["Javascript", "HTML", "CSS", "+ Frameworks"],
  },
  { name: "SAP", items: ["BW4HANA", "SAC", "ERP"] },
  { name: "SQL" },
  { name: "Estadística" },
  { name: "Pensamiento Lógico" },
];
---

<section class="items-center sm:items-end">
  <h1 class="title">Habilidades 🛠️</h1>
  <ul class="w-full sm:w-1/2 pt-7 sm:pt-5 sm:px-3 list-none list-inside">
    {
      skills.map((skill) => (
        <li class="font-semibold text-xl sm:text-2xl mb-2 flex sm:items-end items-start sm:flex-row flex-col">
          .{skill.name}
          <span class="pl-1 text-secondary font-light text-xs">
            {skill.items?.join(" | ")}
          </span>
        </li>
      ))
    }
  </ul>
</section>
