---
import LinkedInLogo from "@/icons/LinkedInLogo.astro";
import GithubLogo from "@/icons/GithubLogo.astro";
---

<li class="flex flex-row mt-14 gap-8">
  <ul>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <LinkedInLogo class="size-16 text-primary hover:scale-110 transition" />
    </a>
  </ul>
  <ul>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <GithubLogo class="size-16 text-primary hover:scale-110 transition" />
    </a>
  </ul>
  <ul></ul>
</li>
