---
import LinkedInLogo from "@/icons/LinkedInLogo.astro";
import GithubLogo from "@/icons/GithubLogo.astro";
import GmailLogo from "@/icons/GmailLogo.astro";
import InfoLogo from "@/icons/InfoLogo.astro";

const links = [
  { name: "Gmail", href: "mailto:prietojulian2003@gmail.com", logo: GmailLogo },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/julian-prieto-809397253/",
    logo: LinkedInLogo,
  },
  {
    name: "Github",
    href: "https://github.com/julianprieto21",
    logo: GithubLogo,
  },
  {
    name: "CV",
    href: "curriculum.pdf",
    logo: InfoLogo,
  },
];
---

<ul class="flex flex-row mt-14 gap-8">
  {
    links.map((link) => {
      const Logo = link.logo;
      return (
        <li class="relative flex flex-col items-center group">
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={"Link to" + link.name}
          >
            <Logo class="size-16 text-primary group-hover:scale-110 transition" />
          </a>
          <span class="font-semibold absolute opacity-0 bottom-0 group-hover:-bottom-5 transition-all group-hover:opacity-100 delay-100">
            {link.name}
          </span>
        </li>
      );
    })
  }
</ul>
